button {
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    color: white;
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(134, 149, 197);
    color: white;
    cursor: pointer;
}

h2 {
    font-size: 14px;
    color: blue;
}

#btArea2 > button {
    background-color: rgb(58, 99, 84);
}

#bt3 {
    background-color: rgb(90, 58, 114);
}